#dashboard{
    width: 100vw;
    min-height: 100vh;
    background-color: snow;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: .25rem;
}

#dashboard figure{
    height: 10vh;
}

#dashboard figure img{
    max-height: 100%;
    max-width: auto;
}

#dashboard > h2{
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    color: var(--primary);
    justify-content: start;
    margin-left: .5rem;
    font-size: 2rem;
    padding: 0 .5rem;
}

#dashboard .btn-exit{
    margin-right: 1rem;
    border-radius:.5rem;
    padding: .5rem;
}
