:root{
    --primary: rgb(32, 139, 139);
    --bg: rgb(246, 253, 253);
    --text: rgb(87, 101, 117);
    --place: rgb(96, 159, 159);
    --input: rgb(218, 241, 241);
    --grey: rgb(196, 212, 212);
    --cemento: rgb(220, 229, 239);
    --gris: rgb(237, 242, 247);
    --modal: rgb(191, 200, 217);
}